<div class="container">
  <div class="header">
    <span>Control of Network Systems Project: Player implementation with VideoJS and Angular</span>
  </div>
  <router-outlet></router-outlet>
  <div class="footer">
    <span>
      Salvi Luigi, Santilio Nicolo 2023 - Politecnico di Bari.
      All dev contents are available at the following repositories:
      <a href="https://github.com/luigisalvi/cns-project">App Frontend</a>
      and
      <a href="https://github.com/fenix-hub/cns-project-backend">App Backend</a>
    </span>
  </div>
</div>
