.container {
    display: flex;
    /* flex-wrap: nowrap; */
    flex-direction: column;
    /* align-content: center; */
    justify-content: space-between;
  }

  .inner {
    /* centered vertically */
    /* flex-wrap: nowrap; */
    /* align-content: center; */
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
  }

  /* Stile per il titolo */
  h1 {
    font-family: 'Impact', Charcoal, sans-serif;
    font-size: 48px; /* Imposta la dimensione del carattere a 48px */
    color: #445fe7;
  }
