/* Stile per il player video */
.video-container {
  margin-top: 30px;
  margin-bottom: 20px;
}

.video-js.vjs-fluid,
.video-js.vjs-16-9,
.video-js.vjs-4-3,
video.video-js,
video.vjs-tech {
  max-height: calc(100vh - 350px);
  position: relative !important;
  width: 100%;
  height: auto !important;
  max-width: 100% !important;
  padding-top: 0 !important;
  line-height: 0;
}

.video-js {
  min-width: 300px !important;
}

.vjs-big-play-button {
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%);
  width: 80px !important;
  -webkit-border-radius: 0.8em !important;
  -moz-border-radius: 0.8em !important;
}

.live-users-container {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 3px;

  mat-icon {
    color: #c7c7c7;
  }
}
