<div class="video-container">
  <video #target class="video-js" controls muted playsinline preload="none"></video>

  <div class="live-users-container">
    <mat-icon>remove_red_eye</mat-icon>
    <span>{{ liveCounter }}</span>
  </div>
</div>

<button mat-flat-button (click)="selectDashboard('stream')" class="live-button">
  <mat-icon>movie</mat-icon>
  <div class="live-button-content">
    <span>Stream Dashboard</span>
  </div>
</button>

<button mat-flat-button (click)="selectDashboard('session')" class="live-button">
  <mat-icon>person</mat-icon>
  <div class="live-button-content">
    <span>Session Dashboard</span>
  </div>
</button>
