/* Stile per il player video */
.video-container {
  margin-top: 30px;
}

.video-js {
  width: 640px !important;
  height: 264px !important;
}

.vjs-big-play-button {
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%);
  width: 80px!important;
  -webkit-border-radius: 0.8em!important;
  -moz-border-radius: 0.8em!important;
}
