.Container {
  display: flex;
}
.stream-list {
  margin: 50px;
}
.ListTitle {
  text-align: center;
}
.circle {
  background: red;
  width: 8px;
  height: 8px;
  display: block;
  border-radius: 10px;
}

.live-button-content, .streamkey-button-content {
  display: flex;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 8px;
}
